.x-boundlist-item img.chkCombo {
    background: transparent url(resources/themes/images/default/menu/unchecked.gif);
}

.x-boundlist-selected img.chkCombo {
    background: transparent url(resources/themes/images/default/menu/checked.gif);
}

.u-row-cell-error td {
    background-color: rgba(255, 0, 0, 0.44) !important;
}

.x-grid-row-summary .x-grid-cell-inner {
    font-weight: bold;
    background-color: #dedede;
}

#nameLabel {
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    cursor: hand;
    color: #1a3675;
    opacity: 0;
    filter: alpha(opacity=0);
}

#homeLabel {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding-top: 30px;
    cursor: hand;
    color: #4a753d;
    opacity: 0;
    filter: alpha(opacity=0);
}