.x-boundlist-item img.chkCombo {
    background: transparent url(resources/themes/images/default/menu/unchecked.gif);
}

.x-boundlist-selected img.chkCombo {
    background: transparent url(resources/themes/images/default/menu/checked.gif);
}

.u-row-cell-error td {
    background-color: rgba(255, 0, 0, 0.44) !important;
}