Ext.create('Ext.toolbar.Toolbar', {
    region: 'north',
    defaults: {
        hrefTarget: 'mainFrame'
    },
    border: false,
    items: [
        #drawMenu($roles)
        #macro(drawMenu $roles)
            #set($menu="")
            #foreach($role in $roles)
                #if($role=='ROLE_ADMINISTRATOR')
                    {
                        text: 'Груп',
                        icon:'',
                        href: 'group.jsp'
                    },
                    {
                        text: 'Хэрэглэгч',
                        icon:'',
                        href: 'account.jsp'
                    },

                #end
                #if($role=='ROLE_REPORTER')
                    {
                        text: 'Report',
                        icon:'',
                        href: 'group.jsp'
                    },
                    {
                        text: 'createReport',
                        icon:'',
                        href: 'group.jsp'
                    },
                #end
                #if($role=='ROLE_REGISTER')
                    {
                        text: 'research',
                        icon:'',
                        href: 'research.jsp'
                    },
                    {
                        text: 'Маягт',
                        icon:'',
                        href: 'blank.jsp'
                    },
                    {
                        text: 'Бичлэг',
                        icon:'',
                        href: 'record.jsp'
                    },
                #end
                #if($role=='ROLE_VIEWER')
                    {
                        xtype: 'button',
                        icon:'',
                        text: 'Тайлан'
                    },
                    {
                        text: 'Бичлэг',
                        icon:'',
                        href: 'record.jsp'
                    },

                #end
            #end
        #end,
        '->',
        {
            text: 'Гарах',
            icon: '/resources/images/cancel-window-16px.png',
            handler: function () {
                window.location = '/security/logout-process';
            }
        }
    ]
});