Ext.create('Ext.toolbar.Toolbar', {
    region: 'north',
    defaults: {
        hrefTarget: 'mainFrame'
    },
    border: false,

    items: [
        {
            xtype: 'label',
            html: '<img src="/resources/images/logomn-16px.png" style="position: fixed;top: 5px;left: 5px;"/>'
        },
        {
            xtype: 'label',
            html: '<span style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Барилга хот байгууллалтын яам</span>'
        },
        '->',
        {
            text: 'Нүүр хуудас',
            icon: '/resources/images/home-16px.png',
            hrefTarget: 'mainFrame',
            href: 'dashboard.jsp'
        },
        #if($auth.checkAuthority('ROLE_REGISTER') || $auth.checkAuthority('ROLE_VIEWER'))
            {

                defaults: {
                    hrefTarget: 'mainFrame'
                },
                icon: '/resources/images/registration-16px.png',
                text: 'Бүртгэл',
                menu: [
                    #if($auth.checkAuthority('ROLE_REGISTER'))
                        {
                            text: 'Судалгаа',
                            hrefTarget: 'mainFrame',
                            icon: '/resources/images/research-16px.png',
                            href: 'research.jsp'
                        },
                        {
                            text: 'Анкет',
                            hrefTarget: 'mainFrame',
                            icon: '/resources/images/blank-16px.png',
                            href: 'blank.jsp'
                        },
                    #end
                    {
                        text: 'Бичлэг',
                        hrefTarget: 'mainFrame',
                        icon: '/resources/images/record-16px.png',
                        href: 'record.jsp'
                    }

                ]
            },
        #end
        #if($auth.checkAuthority('ROLE_REPORTER') || $auth.checkAuthority('ROLE_VIEWER'))
            {

                text: 'Тайлан',
                icon: '/resources/images/report-16px.png',
                defaults: {
                    hrefTarget: 'mainFrame'
                },
                menu: [
                    #if($auth.checkAuthority('ROLE_REPORTER'))
                        {
                            text: 'Тайлан үүсгэх',
                            hrefTarget: 'mainFrame',
                            icon: '/resources/images/report-menu-16px.png',
                            href: 'report.jsp'
                        }
                    #end

                ]
            },
        #end
        #if($auth.checkAuthority('ROLE_ADMINISTRATOR'))
            {

                text: 'Админ',
                icon: '/resources/images/settings-16px.png',
                defaults: {
                    hrefTarget: 'mainFrame'
                },
                menu: [
                    {
                        text: 'Групп',
                        icon: '/resources/images/group-16px.png',
                        hrefTarget: 'mainFrame',
                        href: 'group.jsp'
                    },
                    {
                        text: 'Хэрэглэгч',
                        hrefTarget: 'mainFrame',
                        icon: '/resources/images/account-16px.png',
                        href: 'account.jsp'
                    }
                ]
            },
        #end,

        {

            text: '$name',
            icon: '/resources/images/username-16px.png',
            defaults: {
                hrefTarget: 'mainFrame'
            },
            menu: [
                {
                    text: 'Нууц үг солих',
                    icon: '/resources/images/password-16px.png',
                    action: 'changePassword'
                },
                '-'
                ,
                {
                    text: 'Гарах',
                    icon: '/resources/images/logout-16px.png',
                    handler: function () {
                        window.location = '/security/logout-process';
                    }
                }

            ]
        }
    ]
});