Ext.create('Ext.toolbar.Toolbar', {
    region: 'north',
    defaults: {
        hrefTarget: 'mainFrame'
    },
    border: false,

    items: [
        #if($auth.checkAuthority('ROLE_REGISTER') || $auth.checkAuthority('ROLE_VIEWER'))
            {

                defaults: {
                    hrefTarget: 'mainFrame'
                },
                text: 'Бүртгэл',
                menu: [
                    #if($auth.checkAuthority('ROLE_REGISTER'))
                        {
                            text: 'Судалгаа',
                            hrefTarget: 'mainFrame',
                            icon: '',
                            href: 'research.jsp'
                        },
                        {
                            text: 'Маягт',
                            hrefTarget: 'mainFrame',
                            icon: '',
                            href: 'blank.jsp'
                        },
                    #end
                    {
                        text: 'Бичлэг',
                        hrefTarget: 'mainFrame',
                        icon: '',
                        href: 'record.jsp'
                    }

                ]
            },
        #end
        #if($auth.checkAuthority('ROLE_REPORTER'))
            {

                text: 'Тайлан',
                defaults: {
                    hrefTarget: 'mainFrame'
                },
                menu: [
                    {
                        text: 'Тайлан',
                        hrefTarget: 'mainFrame',
                        icon: '',
                        href: 'group.jsp'
                    },
                    {
                        text: 'Тайлан үүсгэх',
                        hrefTarget: 'mainFrame',
                        icon: '',
                        href: 'group.jsp'
                    }

                ]
            },
        #end
        #if($auth.checkAuthority('ROLE_ADMINISTRATOR'))
            {

                text: 'Админ',
                defaults: {
                    hrefTarget: 'mainFrame'
                },
                menu: [
                    {
                        text: 'Груп',
                        icon: '',
                        hrefTarget: 'mainFrame',
                        href: 'group.jsp'
                    },
                    {
                        text: 'Хэрэглэгч',
                        hrefTarget: 'mainFrame',
                        icon: '',
                        href: 'account.jsp'
                    }
                ]
            },
        #end,
        '->',
        {

            text: '$name',
            defaults: {
                hrefTarget: 'mainFrame'
            },
            menu: [
                {
                    text: 'Нууц үг солих',
                    icon: '/resources/images/password-16px.png',
                    action: 'changePassword'
                },
                '-'
                ,
                {
                    text: 'Гарах',
                    icon: '/resources/images/cancel-window-16px.png',
                    handler: function () {
                        window.location = '/security/logout-process';
                    }
                }

            ]
        },
    ]
});